@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Regular.ttf');
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid black; */
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-family: Montserrat, sans-serif;
  background: white;
}

main {
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
}

.card {
  padding: 1.5rem;
  background: #f4f4f4;
  border-radius: 1.5rem;
  width: 100%;
  max-width: 768px;
  box-shadow: -4px 4px 4px #0004,
              2px -2px 2px #0002,
              inset -4px 4px 4px white,
              inset 2px -2px 2px white;
  overflow: hidden;
}

@media (min-width: 769px) {
  
}