@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Regular.ttf');
}

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  font-family: Montserrat, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
}